<a href="https://colab.research.google.com/github/pgupta26dec/Survivorship-Bias-in-IR-datasets/blob/main/Survivorship_bias_in_IR_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pickle, gzip

In [ ]:
import pandas as pd

In [ ]:
!git clone https://github.com/pgupta26dec/Survivorship-Bias-in-IR-datasets.git

fatal: destination path 'Survivorship-Bias-in-IR-datasets' already exists and is not an empty directory.

In [ ]:
pip install ir_datasets

Collecting ir_datasets
  Downloading ir_datasets-0.5.0-py3-none-any.whl (255 kB)
     |████████████████████████████████| 255 kB 7.6 MB/s
Collecting zlib-state>=0.1.3
  Downloading zlib_state-0.1.3-cp37-cp37m-manylinux2010_x86_64.whl (72 kB)
     |████████████████████████████████| 72 kB 1.8 MB/s
Collecting ijson>=3.1.3
  Downloading ijson-3.1.4-cp37-cp37m-manylinux2010_x86_64.whl (126 kB)
     |████████████████████████████████| 126 kB 36.8 MB/s
Collecting lz4>=3.1.1
  Downloading lz4-3.1.10-cp37-cp37m-manylinux2010_x86_64.whl (1.8 MB)
     |████████████████████████████████| 1.8 MB 50.0 MB/s
Collecting warc3-wet>=0.2.3
  Downloading warc3_wet-0.2.3-py3-none-any.whl (13 kB)
Requirement already satisfied: numpy>=1.18.1 in /usr/local/lib/python3.7/dist-packages (from ir_datasets) (1.19.5)
Collecting warc3-wet-clueweb09>=0.2.5
  Downloading warc3-wet-clueweb09-0.2.5.tar.gz (17 kB)
Collecting lxml>=4.5.2
  Downloading lxml-4.6.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 66.8 MB/s
Collecting pyautocorpus>=0.1.1
  Downloading pyautocorpus-0.1.6-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (294 kB)
     |████████████████████████████████| 294 kB 75.1 MB/s
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from ir_datasets) (2.23.0)
Requirement already satisfied: beautifulsoup4>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from ir_datasets) (4.6.3)
Collecting trec-car-tools>=2.5.4
  Downloading trec_car_tools-2.5.4-py3-none-any.whl (8.1 kB)
Collecting pyyaml>=5.3.1
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 25.3 MB/s
Requirement already satisfied: tqdm>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from ir_datasets) (4.62.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->ir_datasets) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->ir_datasets) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->ir_datasets) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->ir_datasets) (1.24.3)
Collecting cbor>=1.0.0
  Downloading cbor-1.0.0.tar.gz (20 kB)
Building wheels for collected packages: cbor, warc3-wet-clueweb09
  Building wheel for cbor (setup.py) ... done
  Created wheel for cbor: filename=cbor-1.0.0-cp37-cp37m-linux_x86_64.whl size=51313 sha256=62a9ed41b7ef53fea8e64e94c3cecb9f902fdcec407b0378b194431d690dd89e
  Stored in directory: /root/.cache/pip/wheels/19/77/49/c9c2c8dc5848502e606e8579d0bbda18b850fb056a6c62239d
  Building wheel for warc3-wet-clueweb09 (setup.py) ... done
  Created wheel for warc3-wet-clueweb09: filename=warc3_wet_clueweb09-0.2.5-py3-none-any.whl size=18921 sha256=37ceaf06df4a3fa7cbbc18bdf0b26c567459ebdf5a3595bd87c57e4ff9a098e3
  Stored in directory: /root/.cache/pip/wheels/42/d4/3c/7c2b0c3d400ad744e4db69f2fde166655da2ed2198bfc02db6
Successfully built cbor warc3-wet-clueweb09
Installing collected packages: cbor, zlib-state, warc3-wet-clueweb09, warc3-wet, trec-car-tools, pyyaml, pyautocorpus, lz4, lxml, ijson, ir-datasets
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed cbor-1.0.0 ijson-3.1.4 ir-datasets-0.5.0 lxml-4.6.4 lz4-3.1.10 pyautocorpus-0.1.6 pyyaml-6.0 trec-car-tools-2.5.4 warc3-wet-0.2.3 warc3-wet-clueweb09-0.2.5 zlib-state-0.1.3

In [ ]:
with gzip.open('/content/Survivorship-Bias-in-IR-datasets/sample.ance.pkl.gz') as f:
  sample_bm25_res = pickle.load(f)

In [ ]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
sample_bm25_res

          qid  ...  rank
4601  1031667  ...     0
4617  1031667  ...     1
4618  1031667  ...     2
4637  1031667  ...     3
4673  1031667  ...     4
...       ...  ...   ...
4264   991868  ...    95
4281   991868  ...    96
4283   991868  ...    97
4287   991868  ...    98
4288   991868  ...    99

[5000 rows x 7 columns]